html,body{
  background-color: rgb(238, 238, 238);
  
}
/* body{
  position: relative;
} */
#sliders {
  height: 400px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.gallery-header {
  display: none;
}

.slider-item {
  display: none;
}

.img-thumbnail {
  cursor: pointer;
}

.added{
  border: 2px solid #1e1743;
  border-radius: 5px;
  position: relative;
}

img {
  height: 400px;
  object-fit: cover;
}

.prev-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.prev, .next {
  background-color: transparent;
  padding: 8px 10px;
  color: #fff;
}
.warning{
  font-size: 10px;
  display: none;
}
.dot {
  background-color: rgb(163, 156, 156);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
}

.main {
  display: none;
}

@media (max-width: 767px) {
  .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
    flex-direction: column;
  }
  #sliders {
    height: 300px;
    width: 90%;
  }
}

.error-msg{
  background-color: red;
  padding: 15px;
  color: white;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  display: none;
  opacity: 0;
  transition: .5s;
  text-align: center;
}

.animate{
  font-size: 50px;
  width: 100%;
  text-align: center;
  display: none;
}
.img-count{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  margin: 0 auto;
  display: none;
  z-index: 10;
  background-color: rgba(138, 253, 128, 0.877);
}
.img-count i{
font-size: 10px;
border-radius: 50%;
border: 3px solid black;
}